# Clojure stuff
/target
/lib
/.lein*

target/classes/tictactoe/board$board.class

target/classes/tictactoe/board$loading__4784__auto__.class

target/classes/tictactoe/board$place_move.class

target/classes/tictactoe/board$play_game.class

target/classes/tictactoe/board__init.class

*.class

target/classes/tictactoe/welcome$_main.class

target/classes/tictactoe/welcome$loading__4784__auto__.class

target/classes/tictactoe/welcome.class

target/classes/tictactoe/welcome__init.class

target/clojure-tictactoe-0.0-standalone.jar

target/clojure-tictactoe-0.0.jar

target/repl-port

target/stale/dependencies
